/.env
/train/books/5 cats.txt
/train/pasta/5 cats.txt
/train/books/200iq.txt
/train/pastaprophet/200iq.txt
/train/books/250k dmg with shadowburn.txt
/train/pastaprophet/250k dmg with shadowburn.txt
/train/books/best isb numbers.txt
/train/pastaprophet/best isb numbers.txt
/train/books/best place for information but.txt
/train/pasta/best place for information but.txt
/train/books/boweaving.txt
/train/pastaprophet/boweaving.txt
/train/books/boweaving 2.txt
/train/pastaprophet/boweaving 2.txt
/train/books/boweaving 3.txt
/train/pastaprophet/boweaving 3.txt
/train/books/candies.txt
/train/pastaprophet/candies.txt
/chat_log_formatted.txt
/chat_log_formatted_noname.txt
/train/books/chinese gnomer.txt
/train/pasta/chinese gnomer.txt
/train/books/circle of healing.txt
/train/pastaprophet/circle of healing.txt
/train/books/creating void.txt
/train/pastaprophet/creating void.txt
/train/books/cult.txt
/train/pastaprophet/cult.txt
/train/books/cum power.txt
/train/pastaprophet/cum power.txt
/train/books/cum the greatest thing in lockcord.txt
/train/pastaprophet/cum the greatest thing in lockcord.txt
/guilds/253210018697052162/traits/custom_options.json
/guilds/862385841073291294/traits/custom_options.json
/data_2024-06-03.txt
/data_2024-06-11.txt
/train/books/delusional official takes.txt
/train/pastaprophet/delusional official takes.txt
/train/books/diff queues.txt
/train/pasta/diff queues.txt
/train/books/disrespected in this discord.txt
/train/pastaprophet/disrespected in this discord.txt
/train/books/dont trust sims.txt
/train/pastaprophet/dont trust sims.txt
/train/books/eldenring.txt
/train/pastaprophet/eldenring.txt
/guilds/253210018697052162/traits/emotional_state_options.json
/guilds/862385841073291294/traits/emotional_state_options.json
/train/books/fingering buttholes.txt
/train/pastaprophet/fingering buttholes.txt
/train/books/fire doesnt sim better.txt
/train/pastaprophet/fire doesnt sim better.txt
/train/books/gasgas at the store.txt
/train/pastaprophet/gasgas at the store.txt
/train/books/gated.txt
/train/pasta/gated.txt
/train/books/go for a walk.txt
/train/pasta/go for a walk.txt
/train/books/gohard a warlock of great power.txt
/train/pastaprophet/gohard a warlock of great power.txt
/train/books/golden armadillo.txt
/train/pastaprophet/golden armadillo.txt
/train/pastaprophet/Hannu0197.txt
/train/books/heals and mayhem the same.txt
/train/pastaprophet/heals and mayhem the same.txt
/train/pastaprophet/Healspls8859.txt
/train/books/herded into a cage.txt
/train/pastaprophet/herded into a cage.txt
/train/books/holy shit nerf warlocks.txt
/train/pasta/holy shit nerf warlocks.txt
/train/books/iddqd.txt
/train/pasta/iddqd.txt
/train/books/im a winner a shadow destro chad.txt
/train/pastaprophet/im a winner a shadow destro chad.txt
/train/books/it was christmas eve.txt
/train/pastaprophet/it was christmas eve.txt
/train/books/jpaint pepsi coke.txt
/train/pastaprophet/jpaint pepsi coke.txt
/train/books/jpaint talks to mayhem.txt
/train/pastaprophet/jpaint talks to mayhem.txt
/train/books/Karl Marx - Capital (Volume I)_djvu.txt
/train/books/Karl Marx - Capital (Volume II)_djvu.txt
/train/books/Karl Marx - Capital (Volume III)_djvu.txt
/train/books/keftenk.txt
/train/pasta/keftenk.txt
/.idea/Lockgodx.iml
/train/books/lovebird corrupted.txt
/train/pastaprophet/lovebird corrupted.txt
/train/books/mage infiltration.txt
/train/pastaprophet/mage infiltration.txt
/train/books/mage sims rigged.txt
/train/pastaprophet/mage sims rigged.txt
/train/books/maintaining virginity.txt
/train/pastaprophet/maintaining virginity.txt
/train/books/mayhem and heals the same.txt
/train/pastaprophet/mayhem and heals the same.txt
/train/books/mayhem posts in research.txt
/train/pastaprophet/mayhem posts in research.txt
/train/books/mayhem return.txt
/train/pastaprophet/mayhem return.txt
/train/books/mayhem t6 looks.txt
/train/pastaprophet/mayhem t6 looks.txt
/train/books/mayhem thoughts on heals and hannu.txt
/train/pastaprophet/mayhem thoughts on heals and hannu.txt
/train/pastaprophet/Mayhem7115.txt
/train/books/mayhems candy pasta.txt
/train/pastaprophet/mayhems candy pasta.txt
/train/books/mcdonalds.txt
/train/pasta/mcdonalds.txt
/train/books/mentis rant.txt
/train/pastaprophet/mentis rant.txt
/train/books/milk battleres.txt
/train/pastaprophet/milk battleres.txt
/train/books/milkies.txt
/train/pasta/milkies.txt
/.idea/misc.xml
/train/books/misc mayhem.txt
/train/pasta/misc mayhem.txt
/guilds/253210018697052162/traits/misc_options.json
/guilds/862385841073291294/traits/misc_options.json
/train/books/misleading skull guide.txt
/train/pastaprophet/misleading skull guide.txt
/train/books/mostly kept you blocked.txt
/train/pastaprophet/mostly kept you blocked.txt
/train/books/normal ppl wander into lockcord.txt
/train/pastaprophet/normal ppl wander into lockcord.txt
/train/books/phoenix god.txt
/train/pastaprophet/phoenix god.txt
/train/books/pity you xelrog.txt
/train/pastaprophet/pity you xelrog.txt
/train/books/post copypasta in meme channel.txt
/train/pastaprophet/post copypasta in meme channel.txt
/.idea/inspectionProfiles/profiles_settings.xml
/train/books/prostate.txt
/train/pastaprophet/prostate.txt
/train/books/pussy parse.txt
/train/pastaprophet/pussy parse.txt
/train/books/real world fake pixel diff.txt
/train/pastaprophet/real world fake pixel diff.txt
/train/books/salt n vinegar.txt
/train/pastaprophet/salt n vinegar.txt
/train/books/server has a negative impact.txt
/train/pastaprophet/server has a negative impact.txt
/guilds/253210018697052162/settings.json
/guilds/862385841073291294/settings.json
/train/books/shaggy stop baiting for stars.txt
/train/pastaprophet/shaggy stop baiting for stars.txt
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_4_15_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_4_15_AM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_5_11_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_12_41_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_12_41_PM_[Changes]1/shelved.patch
/train/books/shit discord.txt
/train/pastaprophet/shit discord.txt
/guilds/253210018697052162/traits/special_interests_options.json
/guilds/862385841073291294/traits/special_interests_options.json
/train/books/star farming battle needs to end.txt
/train/pastaprophet/star farming battle needs to end.txt
/train/books/suicide tier.txt
/train/pasta/suicide tier.txt
/train/books/take care of mental health.txt
/train/pastaprophet/take care of mental health.txt
/train/books/tbc leveling pets.txt
/train/pastaprophet/tbc leveling pets.txt
/train/books/The Communist Manifesto.txt
/train/books/the year is 2021.txt
/train/pastaprophet/the year is 2021.txt
/train/books/the year is 3472.txt
/train/pastaprophet/the year is 3472.txt
/train/books/tragedy of jpaint.txt
/train/pastaprophet/tragedy of jpaint.txt
/train/books/two years of coe.txt
/train/pastaprophet/two years of coe.txt
/guilds/253210018697052162/traits/typing_style_options.json
/guilds/862385841073291294/traits/typing_style_options.json
/train/books/tyrande.txt
/train/pastaprophet/tyrande.txt
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_4_15_AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_5_11_AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_9_2024_12_41_PM__Changes_.xml
/train/books/used to hate minmaxing.txt
/train/pastaprophet/used to hate minmaxing.txt
/train/books/vaporeon.txt
/train/pastaprophet/vaporeon.txt
/.idea/vcs.xml
/train/books/waterboi skull.txt
/train/pastaprophet/waterboi skull.txt
/train/books/wcl rules.txt
/train/pastaprophet/wcl rules.txt
/train/books/we need to stop sims now.txt
/train/pastaprophet/we need to stop sims now.txt
/train/books/why try to cum.txt
/train/pastaprophet/why try to cum.txt
/.idea/workspace.xml
/train/books/worthless clown xelrog.txt
/train/pastaprophet/worthless clown xelrog.txt
/train/books/wowhead bis list.txt
/train/pastaprophet/wowhead bis list.txt
/train/books/you will never benefit from my cor.txt
/train/pastaprophet/you will never benefit from my cor.txt
/train/books/za.txt
/train/pastaprophet/za.txt
/train/books/zeitgeist.txt
/train/pasta/zeitgeist.txt
/train/books/zephans america.txt
/train/pastaprophet/zephans america.txt
